@{
    ViewBag.Title = "Home";
}

<br /><br />
<h2>
    How to Implementing single Sorting and Paging view in a project using ASP.NET MVC 
</h2>
<br /><br />
<h3>
    This project will guide you, how to write single view for achieving searching and paging functionality in ASP.NET MVC.
    <br /><br />
    There are 2 views in this (Employee list view using Index name), (Designation list view using Designations name). 
    <br /><br />
    The difference in 2 views is that there will be many situation where view name, search changes based on type of requirement so how to handle those.
    <br /><br />
    All conditions are wrapped up in this small apps.
    <br /><br />
    You must have Background of MVC, Entity Framework, Sql Server
</h3>
<br /><br /><br /><br />
